<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onair.onems">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/onair"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.StudentMainScreen"
            android:theme="@style/SplashScreen">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.TeacherMainScreen"
            android:theme="@style/SplashScreen">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.TakeAttendance"
            android:label="Take Attendance"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.StudentAttendance"
            android:label="Attendance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.Fees.StudentList"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.Fees.Fee"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.StudentAttendanceShow"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.StudentAttendance">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentAttendance" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.TakeAttendanceDetails"
            android:label="Take Attendance"
            android:parentActivityName="onair.onems.mainactivities.TakeAttendance">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.TakeAttendance" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.SubjectWiseAttendance"
            android:theme="@style/AppTheme"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.StudentAttendance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentAttendance" />

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.AllStudentAttendanceShow"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.StudentAttendanceShow">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentAttendanceShow" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.AllStudentSubjectWiseAttendance"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.AllStudentAttendanceShow">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.AllStudentAttendanceShow" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.TeacherAttendanceShow.ShowAttendance"
            android:label="Attendance"
            android:parentActivityName=".mainactivities.TakeAttendance"
          >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainactivities.TakeAttendance" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.TeacherAttendanceShow.ShowAllStudent"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.TeacherAttendanceShow.ShowAttendance">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.TeacherAttendanceShow.ShowAttendance" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.TeacherAttendanceShow.DateAttendance"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.TeacherAttendanceShow.ShowAllStudent">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.TeacherAttendanceShow.ShowAllStudent" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.TeacherAttendanceShow.ShowSubjectWiseAttendance"
            android:label="Attendance"
            android:parentActivityName="onair.onems.mainactivities.TeacherAttendanceShow.DateAttendance">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.TeacherAttendanceShow.DateAttendance" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.StudentiCardMain"
            android:label="iCard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.StudentiCardDetails"
            android:label="Details Information"
            android:parentActivityName="onair.onems.mainactivities.StudentiCardMain">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentiCardMain" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.StudentiCardDetailsEdit"
            android:label="Edit Information"
            android:parentActivityName="onair.onems.mainactivities.StudentiCardMain">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentiCardMain" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.StudentiCardNewEntry"
            android:label="Entry Student"
            android:parentActivityName="onair.onems.mainactivities.StudentiCardMain">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.StudentiCardMain" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.FeesDetails"
            android:label="Fees Details"
            android:parentActivityName="onair.onems.mainactivities.Fees.Fee">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.Fee" />
        </activity>
        <activity
        android:screenOrientation="portrait"
        android:name="onair.onems.mainactivities.Fees.FineDetails"
        android:label="Fine Details"
        android:parentActivityName="onair.onems.mainactivities.Fees.Fee">
        <!-- The meta-data element is needed for versions lower than 4.1 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="onair.onems.mainactivities.Fees.Fee" />
    </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.payment"
            android:label="Payment"
            android:parentActivityName="onair.onems.mainactivities.Fees.Fee">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.Fee" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.FeesHistory"
            android:label="Fees History"
            android:parentActivityName="onair.onems.mainactivities.Fees.Fee">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.Fee" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.MontlyHistory"
            android:label="Monthly History"
            android:parentActivityName="onair.onems.mainactivities.Fees.FeesHistory">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.FeesHistory" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.TotalFees"
            android:label="Fees History"
            android:parentActivityName="onair.onems.mainactivities.Fees.MontlyHistory">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.MontlyHistory" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Fees.TotalFine"
            android:label="Fine History"
            android:parentActivityName="onair.onems.mainactivities.Fees.MontlyHistory">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Fees.MontlyHistory" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.Routine.ClassRoutine"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".mainactivities.Result.ClassResult"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.ReportAllStudentMain"
            android:label="Student List"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.ReportAllStudentList"
            android:label="Student List"
            android:parentActivityName="onair.onems.mainactivities.ReportAllStudentMain">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.ReportAllStudentMain" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.NoticeMainScreen"
            android:label="Notice"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="onair.onems.mainactivities.Result.ResultMainScreen"
            android:label="Result"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

    </application>

</manifest>