<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onair.onems">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/onair"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainactivities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivities.LoginScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainactivities.StudentMainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".mainactivities.TeacherMainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".attendance.TakeAttendance"
            android:label="Take Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attendance.StudentAttendanceReport"
            android:label="Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fee.StudentList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fee.Fee"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".attendance.StudentAttendanceShow"
            android:label="Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".attendance.TakeAttendanceDetails"
            android:label="Take Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainactivities.SubjectWiseAttendance"
            android:label="Attendance"
            android:parentActivityName=".attendance.StudentAttendanceReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.attendance.StudentAttendanceReport" />
        </activity>
        <activity
            android:name=".attendance.StudentAttendanceAllDays"
            android:label="Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".attendance.StudentSubjectWiseAttendance"
            android:label="Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".attendance.ShowAttendance"
            android:label="Attendance Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".icard.StudentiCardMain"
            android:label="iCard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".icard.StudentiCardDetails"
            android:label="Details Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".icard.StudentiCardDetailsEdit"
            android:label="Edit Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".icard.StudentiCardNewEntry"
            android:label="Entry Student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Fee.FeesDetails"
            android:label="Fees Details"
            android:parentActivityName=".Fee.Fee"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.Fee" />
        </activity>
        <activity
            android:name=".Fee.FineDetails"
            android:label="Fine Details"
            android:parentActivityName=".Fee.Fee"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.Fee" />
        </activity>
        <activity
            android:name=".Fee.payment"
            android:label="Payment"
            android:parentActivityName=".Fee.Fee"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.Fee" />
        </activity>
        <activity
            android:name=".Fee.FeesHistory"
            android:label="Fees History"
            android:parentActivityName=".Fee.Fee"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.Fee" />
        </activity>
        <activity
            android:name=".Fee.MontlyHistory"
            android:label="Monthly History"
            android:parentActivityName=".Fee.FeesHistory"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.FeesHistory" />
        </activity>
        <activity
            android:name=".Fee.TotalFees"
            android:label="Fees History"
            android:parentActivityName=".Fee.MontlyHistory"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.MontlyHistory" />
        </activity>
        <activity
            android:name=".Fee.TotalFine"
            android:label="Fine History"
            android:parentActivityName=".Fee.MontlyHistory"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.Fee.MontlyHistory" />
        </activity>
        <activity
            android:name=".mainactivities.Result.ClassResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mainactivities.ReportAllStudentMain"
            android:label="Student List"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainactivities.ReportAllStudentList"
            android:label="Student List"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivities.NoticeMainScreen"
            android:label="Notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivities.Result.ResultMainScreen"
            android:label="Result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivities.Result.SubjectWiseResult"
            android:label="Subject wise Marks "
            android:parentActivityName=".mainactivities.Result.ResultMainScreen"
            android:screenOrientation="portrait">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="onair.onems.mainactivities.Result.ResultMainScreen" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainactivities.ContactsMainScreen"
            android:label="Contacts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".routine.RoutineMainScreen"
            android:label="Class Routine"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".mainactivities.SideNavigationMenuParentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".mainactivities.SyllabusMainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>